/*
 Theme Name:   Oneda
 Theme URI:    https://www.coothemes.com/theme-oneda/
 Description:  Oneda is a clean, multipurpose one page WordPress theme that can help you build an awesome website easily by drag and drop. The theme comes with 17+ pre-built front page sections, including Testimonials, team, pricing, Google Map, portfolio, gallery, call to action and HTML5 video background etc. In each section, you can customize its background image, Google Fonts, color, overlay, font size, button radius and many others, so your website will be unique and awesome. And the theme also has beautiful parallax scrolling and animation effects. Built on Bootstrap framework, Oneda is fully compatible with various devices. Moreover, the theme is compatible with WooCommerce and Contact Form 7. Check the demo here : http://demo.coothemes.com/
 
 Author:       Coothemes Team
 Author URI:   http://www.coothemes.com/
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  oneda
 Template:     theta
 Version:      1.0.5
 Tags: Blog, Custom-Background, Custom-Logo, Custom-Menu, Custom-Colors, Custom-Header, Flexible-Header, Featured-Images,  Footer-Widgets, Two-Columns, Right-Sidebar, Left-Sidebar, Theme-Options, E-Commerce, Full-Width-Template, Portfolio,  Translation-Ready
*/

.theta-search .ct-search{     display: block;
    font-size: 18px;
    margin-top: -35px;}

.menu-mobile .homepage-nav{ display:none;}


.ct-title{ margin-bottom:30px}

.ct_slider .carousel-inner .item{height:500px;}

#ct_slider .carousel-inner .item img{ min-width:500px;}
#ct_slider .carousel-inner .container{min-width:500px;}

.ct_slider .carousel-control .ct-angle-left,.ct_slider  .carousel-control .ct-angle-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
	
}
.ct_slider_warp .carousel-caption h1,.ct_slider_warp .carousel-caption p{ margin:30px 0;}

.ct_slider .ct_slider_warp  a.btn{ border-radius: 4px;font-weight: lighter;     margin: 0 15px;}

.ct_slider .carousel-caption{ margin:auto 0; 
            top: 55%; 
            transform: translateY(-50%);}
#ct_slider .carousel-inner .item{height:802px;}

@media (max-width: 768px){
.ct_slider .carousel-caption{  
            top: 45%; 
            transform: translateY(-50%);}
}

@media (max-width: 361px){
.ct_slider .carousel-caption{  
            top: 40%; 
            transform: translateY(-50%);}

}
.ct_slider .ct_slider_warp .carousel-caption h1{ text-transform:uppercase; }
.ct_slider .slider_text h1 span{font-weight:400;}

@media screen and (max-width:1136px){
	.ct_slider .ct_slider_warp .carousel-caption h1{ font-size:4em;}
}
@media screen and (max-width:800px){
	
.ct_slider 	.ct_slider_warp .carousel-caption h1{ font-size:3em;}
.ct_slider 	.ct_slider_warp .carousel-caption .ct_slider_text{ font-size:1.1em;}
}

@media screen and (max-width:320px){
.ct_slider 	.ct_slider_warp .carousel-caption h1{ font-size:1.5em;}	
}
.ct_slider_warp .carousel-caption p.slider_btn{ margin-top:50px;}

.fact{font-size: 70px; color: #545454;    font-weight: lighter;}
section.ct_fact p.faoneda_item{font-size: 18px;}
.parallax-window {
    min-height: 200px;
    background: transparent;
}
.ct_fact_list .fact-col{ margin-bottom:40px;}

.ct_news .carousel-caption{ position:static; padding-bottom:0;}	

.ct_news .carousel-control.left, .ct_news .carousel-control.right {
    background-image: none;	
}
.ct_news .ct-angle-left:before,.ct_news .ct-angle-right:before{ color:#666666;}

.ct_news_img img{ width:100%;}
.ct_news .carousel-caption .col-md-6{ padding:0;}

.ct_news .carousel-caption .ct_news_info{ background-color:#ffffff;text-shadow:none; padding:0 30px; height:100%; overflow:hidden; padding-bottom:20px;}

section.ct_news p.ct_news_title{    font-size: 24px;
    padding-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 5px;
    text-align: left;
    color: #333; }

section.ct_news p.ct_news_meta,section.ct_news .ct_news_text p,section.ct_news p.ct_news_a{  text-align:left; }
section.ct_news .ct_news_text p{ line-height:1.8em; font-size:1.1em;}
section.ct_news p.ct_news_meta{padding-bottom:20px;}
section.ct_news p.ct_news_a{padding:20px 0; font-size:1.3em;}

.tool-content-1{ text-align:left;    padding-top: 15px;}

.tool-content-1 img{ margin-top: 15px; margin-bottom:10px;max-width: 180px;}
.tool-content-1 .tool-1-text{font-size:1.1em; color:#999999; line-height:1.6em; }

.ct_tool_row h2{font-size: 27px;font-weight:lighter; text-align:left; text-transform:uppercase; line-height:50px;margin-bottom:0;}
.ct_tool_row hr{    background-color: #fd5e29;
    width: 30px;
    height: 4px;
    text-align: left;
    margin-left: 0; margin-top:0; margin-bottom:25px;border-top:none;}

.tool-content-2 ul{margin-top:35px;}
.tool-content-2 ul li{ font-size:1.1em;list-style:none; text-align:left; line-height:2.3em;color:#999999;}
.tool-content-2 ul li i.ct{color: #ffffff;
    padding-right: 10px;}
	
.ct_tool_list .google_map	{ padding-top:18px; }

.ct_tool_list .google_map	iframe{ height:100%; min-height:250px;}	

.ct_tool_list span.blogname{ font-weight:lighter; 

    font-size: 27px;
    font-weight: lighter;
    text-align: left;
    text-transform: uppercase;
    line-height: 50px;
    margin-bottom: 0;

}
.ct_tool_list .logo-text{ margin-top:10px;}


.tool-2 ul, .tool-2 ol {
    margin-left:  10px;
}
	
#footer a {
    color: #DBDBDB;
    padding: 3px;
    font-size: 20px;
}

#footer .copyright a {
    color: #DBDBDB;
    padding: 3px;
    font-size: 14px;
}

#footer {
	background-color: rgba(37,36,37,1);
}
#footer hr{ margin:0 auto 25px auto; width:50%; color:#5D5D5D;border-top: 1px solid #8e8e8e;}
#footer .ct_footer_follow{  padding-bottom:5px; font-size:1.1em;}

#footer .ct_footer_bookmarks {
    padding: 0 0 0px 0;
}

#footer .copyright{padding-bottom: 5px;}

header#header.changeh .theta-logo-img img {
	width:auto;
}