.elementor-115 .elementor-element.elementor-element-93eb653{margin-top:0px;margin-bottom:0px;}.elementor-115 .elementor-element.elementor-element-09c886b .gallery-item .gallery-caption{text-align:center;}