body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: "liga" on;
	box-shadow: 0px 0px 16px 6px rgba(0,0,0,0.14);
max-width:97%;
margin:30px auto!important;
}
.service-icon1 a:before, .service-icon2 a:before, .service-icon3 a:before, .service-icon3 a:before, .service-icon4 a:before, .service-icon5 a:before, .service-icon6 a:before, .service-icon7 a:before, .service-icon8 a:before, .service-icon9 a:before, .service-icon10 a:before, .service-icon11 a:before, .service-icon12 a:before, .service-icon a i{  
font-size: 59px;
    width: 2em;
    height: 2em;
    line-height: 2em;
}
.service-title a {
    font-size: 17px;
}
figure.post-content, .woocommerce .products ul li, .woocommerce ul.products li, figure.team-content, .woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),  0 1px 5px 0 rgba(0, 0, 0, 0.12);
	border-radius:6px;
}
.image-test img{
-webkit-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
		border-radius:6px;
}
 #ribbon .header-button.left-button, #latest-post span.read-more a, #scroll,.home #contact .leadform-show-form.leadform-lite input[type="submit"]{
  -webkit-box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
    -moz-box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
		border-radius:6px;
}
.service-title{
margin-top:20px
}
figure.team-content img{
padding:0;
max-width:100%;
margin:auto;
	border-radius:6px;
}
figure.team-content figcaption{
background:rgba(0, 0, 0, 0.6);
}
figure.team-content h3{
background:transparent;
}
.caption-container {
       opacity: 1!important;
}
.header.smaller, div#header{
max-width:97%;
margin:0 auto!important;
}
.svg-top-container{
max-width:97%;
margin:100px auto 0px auto!important;
}
.svg-bottom-container{
max-width:97%;
margin:0 auto!important;
}
.header{
left:auto;
}
.header.smaller{
top:0
}
.header{
top:30px;
}
#scroll {
     right: 28px;
	 bottom:80px;
}
.logged-in.admin-bar .header {
    top: 50px;
}
.logged-in.admin-bar .header.smaller {
    top: 20px;
}
.foot-copyright, .foot-copyright .footer-content{
float:none;
    display: inline-block;
}
.flex-direction-nav .flex-next, .flex-direction-nav .flex-prev {
    background-size: 22% 22%;
}
.woocommerce ul.products li.product .button{
-webkit-box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
    -moz-box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
    border-radius: 6px;
}
.testimonials .brd-testimonial{
background-color: #fdff75;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #fff;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: #adadad;
}
figure.team-content h3 {
    background: rgba(18,58,181,0.84);
}
@media (min-width: 981px){
.caption-container h2 {
      font-size: 62px;
    text-transform: uppercase!important;
}
}
@media screen and (-webkit-min-device-pixel-ratio: 0){
.svg-bottom-container {
margin:-0.3px auto 0px auto!important;
}
.svg-top-container {
margin:-99.7px auto 0px auto!important;
}}